<%- include('partials/header.ejs') %>

<form  action="/add" method="POST" style="width: 400px;" enctype="multipart/form-data">
    <h1 class="container">Thêm cán bộ</h1>
    <div class="form-group container" >
      <label for="hoten">họ tên:</label>
      <input type="text" class="form-control" id="hoten" name = "hoten">
    </div>
    <div class="form-group container">
      <label for="ngaysinh">Ngày sinh:</label>
      <input type="date" class="form-control" id="ngaysinh" name = "ngaysinh" >
    </div>
    <div class="form-group container" name="gioitinh">Giới tính :  
      <label class="radio-inline mr-4 ml-4"><input type="radio"  name="gioitinh" value="Nam" >Nam</label>
      <label class="radio-inline "><input type="radio"  name="gioitinh" value="Nữ">Nữ</label>
    </div>
    <div class="form-group container">
      <label for="diachi">địa chỉ:</label>
      <input type="text" class="form-control" id="diachi" name = "diachi">
    </div>
    <div class="form-group container">
      <label for="sdt">sdt:</label>
      <input type="text" class="form-control" id="sdt" name = "sdt">
    </div>
    <div class="form-group container">Chức vụ:
      <select class="form-control" name="chucvu">
        <option value="Trưởng phòng">Trưởng phòng</option>
        <option value="Tổ trưởng">Tổ trưởng</option>
        <option value="Nhân viên">Nhân viên</option>
    </select>
    </div>
    <div class="form-group container">Phòngban:
      <select class="form-control" name="phongban">
        <option value="Nhân sự">Nhân sự</option>
        <option value="Sản xuất">Sản xuất</option>
        <option value="Chất lượng">Chất lượng</option>
    </select>
    </div>
    <div class="form-group container">
      <label for="ngayvaocongty">Ngày vào công ty:</label>
      <input type="date" class="form-control" id="ngayvaocongty" name = "ngayvaocongty" >
    </div>
    <div class="form-group container">Tình trạng:
      <select class="form-control" name="tinhtrang">
        <option value="Đang công tác">Đang công tác</option>
        <option value="Đã nghỉ">Đã nghỉ</option>
    </select>
    </div>
    <div class="form-group container">
      <label  for="hinhanh">Hình ảnh:</label>
      <img src="/images/hinhnen.jpg" alt="" width="65" height="auto" class="ml-5 mb-3" id ="hinhnen">
      <input type="file" class="form-control" id="hinhanh" name = "hinhanh" style="width: 370px;" >
    </div>
    <div class="form-group container">
        <button type="submit" class="btn btn-primary ">Thêm cán bộ</button>
    </div>

</form>


<!-- preview img upload file JS -->
<script>
hinhanh.onchange =event => {
  const [file] = hinhanh.files;
  if(file) { 
    hinhnen.src = URL.createObjectURL(file)
  }
}
</script>