<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



<form  action="./add" method="POST" style="width: 400px;" enctype="multipart/form-data">
    <h1 class="container">Thêm cán bộ</h1>
    <div class="form-group container" >
      <label for="hoten">họ tên</label>
      <input type="text" class="form-control" id="hoten" name = "hoten">
    </div>
    <div class="form-group container">
      <label for="tuoi">tuổi</label>
      <input type="number" class="form-control" id="tuoi" name = "tuoi">
    </div>
    <div class="form-group container">
      <label for="gioitinh">giới tính</label>
      <input type="text" class="form-control" id="gioitinh" name = "gioitinh">
    </div>
    <div class="form-group container">
      <label for="diachi">địa chỉ</label>
      <input type="text" class="form-control" id="diachi" name = "diachi">
    </div>
    <div class="form-group container">
      <label for="hinhanh">địa chỉ</label>
      <input type="file" class="form-control" id="hinhanh" name = "hinhanh" style="width: 300px;">
    </div>
    <div class="form-group container">
        <button type="submit" class="btn btn-primary ">Thêm cán bộ</button>
    </div>

  </form>


